body {
  background-image: url(./photos/greece.webp);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Barlow Condensed";
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin: 0px;
}

.header-title,
.header-links a,
.social-icons {
  color: white;
}

.header-title {
  font-size: 25px;
  margin: 0;
  font-weight: lighter;
  transition: 0.1s all ease-in-out;
  transition: transform 0.5s;
}

.header-links {
  display: flex;
  font-size: 20px;
  gap: 35px;
  margin: 0;
}

.header-links a {
  text-decoration: none;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  text-decoration: none;
}

.social-icons i {
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.top-text,
.middle-text {
  color: white;
}

.top-text {
  margin: 0;
  font-size: 30px;
}

.middle-text {
  margin: 0;
  font-size: 50px;
}

.button {
  background-color: white;
  font-size: 14px;
  color: #222222;
  margin-top: 15px;
  padding: 15px 40px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.15s all ease-in-out;
}

.button:hover {
  background: linear-gradient(to left, #ff00ff, #8766c4, #b289ff);
  padding: 18px 50px;
  font-size: 16px;
  animation: spin 1s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button:active {
  padding: 20px 60px;
}

.fa-brands,
.fa-solid {
  transition: 0.15s all ease-in-out;
}

.fa-brands:hover {
  font-size: 30px;
  background: linear-gradient(to left, #ff00ff, #8766c4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-brands:active {
  font-size: 30px;
}

.fa-solid:hover {
  font-size: 30px;
  background: linear-gradient(to left, #ff00ff, #8766c4, , #b289ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-solid:active {
  font-size: 30px;
}

.fab:hover,
.fa-solid:hover {
  animation: spin 1s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header-links,
.social-icons,
.header-title,
.container {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.header-title:hover {
  background: linear-gradient(to bottom, #ff00ff, #8766c4, #b289ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: bounce 0.5s;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#home,
#about-me,
#archives,
#pages {
  transition: 0.1s all ease-in-out;
}

#home:hover {
  font-size: 30px;
  background: linear-gradient(to bottom, #ff00ff, #8766c4, #b289ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#about-me:hover {
  font-size: 30px;
  background: linear-gradient(to bottom, #ff00ff, #8766c4, #b289ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#archives:hover {
  font-size: 30px;
  background: linear-gradient(to bottom, #ff00ff, #8766c4, #b289ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#pages:hover {
  font-size: 30px;
  background: linear-gradient(to bottom, #ff00ff, #8766c4, #b289ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
